In [40]:
#imports 
import pandas as pd 
from sklearn import linear_model as lm 
import numpy as np

In [39]:
#loading data
data = pd.read_csv(r"C:\Users\Lipe Marlon\Documents\House_Rockets\kc_house_data.csv")

data[0:9]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,...,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,...,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,...,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113

In [10]:
#data preparation 
x_train = data.drop(['price', 'date'], axis=1)
y_train = data['price'].copy()
display(x_train.head())

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [11]:
#model training 

model_lr = lm.LinearRegression()

model_lr.fit(x_train,y_train)

LinearRegression()

In [12]:
pred = model_lr.predict(x_train)
pred[0:100]

array([ 205766.26460962,  731219.64982987,  379097.88265418,
        457424.13432529,  444789.05471811, 1451676.80046281,
        277965.14285807,  135261.77208383,  329843.81624395,
        250731.2505036 ,  870212.88141874,  437789.72121285,
        600311.43498101,  316903.13655575,  611557.85739091,
        944453.29692623,  456573.68626293,  539004.69481031,
        335024.25629832,  210585.07434927,  466088.95603629,
       1116489.11078675,  330386.45026626,  130784.11743752,
        545423.99906282,  310538.26026988,  802018.13764891,
        651875.20382829,  457699.206153  ,  650018.45024566,
        541202.92170083,  332196.71884794,  655096.04733202,
        555240.33756537,  319817.174744  ,  804301.3547089 ,
        201145.17195308,  861533.54324498,  103130.75983528,
        585745.32147527,  664511.50307343,  742662.60624429,
        863042.39845927,  508391.02023419,  153710.08047338,
        811721.66516474,   32096.77784445,  762323.19584885,
        417855.61065263, 1530097.62528252,  185578.71195409,
        658157.92713995,  471090.25997118,  498290.25253097,
        789802.28617626,  773293.96241425,  271727.3986537 ,
        467150.37020325, 1056923.77322492,  443395.18842535,
        694554.24465648,  237766.54435063,  598068.69850034,
        408857.34579784,  376054.0086378 ,  744927.55137079,
        879888.08105543,  321711.45186212,  121851.74702505,
        783019.32595646, 1399362.50569165,  460538.49633773,
        800124.29246174,  390335.05311702,  300689.96053704,
        991726.69237261,  413248.79001204,  310476.8979959 ,
        413980.07473525,  802185.44256452,  412926.1563398 ,
        218377.00510937,  449654.54032665,  434848.80269797,
        261756.27101989,  819846.02518002,  407338.51403966,
        708935.71931328,  424310.54489831,  177895.94502966,
        297041.36776155,  958741.1425068 ,  190018.37500697,
        603396.37010424,  603396.37010424,  795519.96750249,
        354071.72245307,  155387.93358109,  244625.66437866,
        645182.95882843])

In [13]:
#perfomance metrics
datacopy = data.copy()

In [14]:
datacopy['prediction'] = pred

In [42]:
datacopy[['id', 'price', 'prediction', 'error', 'error_abs','error_percentual','error_percentual_abs']][0:9]

,id,price,prediction,error,error_abs,error_percentual,error_percentual_abs
0,7129300520,221900.0,2.057663e+05,16133.735390,16133.735390,0.072707,0.072707
1,6414100192,538000.0,7.312196e+05,-193219.649830,193219.649830,-0.359144,0.359144
2,5631500400,180000.0,3.790979e+05,-199097.882654,199097.882654,-1.106099,1.106099
3,2487200875,604000.0,4.574241e+05,146575.865675,146575.865675,0.242675,0.242675
4,1954400510,510000.0,4.447891e+05,65210.945282,65210.945282,0.127865,0.127865
5,7237550310,1225000.0,1.451677e+06,-226676.800463,226676.800463,-0.185042,0.185042
6,1321400060,257500.0,2.779651e+05,-20465.142858,20465.142858,-0.079476,0.079476
7,2008000270,291850.0,1.352618e+05,156588.227916,156588.227916,0.536537,0.536537
8,2414600126,229500.0,3.298438e+05,-100343.816244,100343.816244,-0.437228,0.437228

In [35]:
#calculando o erro da regressão linear 

datacopy['error'] = datacopy['price'] - datacopy['prediction']
datacopy['error_abs'] = np.abs(datacopy['error'])
datacopy['error_percentual'] = ((datacopy['price']-datacopy['prediction'])/datacopy['price'])
datacopy['error_percentual_abs'] = np.abs(datacopy['error_percentual'])

In [30]:
np.sum(datacopy['error_abs']) / len(datacopy['error_abs'])

125921.54419397873

In [37]:
#tirando a média de error das predições, 25% de média de erro da regressão 
np.mean(datacopy['error_percentual_abs'])

0.2558051253618486